<div class="panel panel-info" style="height: 500px;">
  {{#if friend}}
  <div class="panel-heading">
    <span class="panel-title" style="margin-left: 40%;">Chating with {{friend}}</span>
  </div>
  {{else}}
  <div class="panel-heading">
    <span class="panel-title" style="margin-left: 40%;">Chating with
      <input list="friendss" name="browser" id="newMsg">
      <datalist id="friendss">
        {{#each listFriends}}
          <option value="{{name_friend}}">
        {{/each}}
      </datalist>
  </div>
  {{/if}}
  <div class="panel-body "style="height: 330px;
	width: 100%;
	overflow-y:scroll;" id="bodyMessage">
    {{>ConReply}}
  </div>
  <div class="form-group">
    <label for="comment">Message:</label>
    <textarea class="form-control" rows="2" id="comment"></textarea>
     <input type="submit" name="send" class="btn btn-primary" value="Send" id="send_msg">
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#send_msg").click(function(){
      //get id to send message
      var id ='';
      if('{{friend}}')
          id  = '{{friend}}';
      else {
          id  = $("#newMsg").val();
      }
      console.log(id);
      //get date send message
      var now = new Date();
      var parameters = {text: $('#comment').val() , send_time: now.getTime()}

      $.post('/messages/'+ id+'/send',parameters,function(data){
        console.log(data);
        if(data){
          var text =   "<div class=\"message-container\" style=\"float: right; background-color:#1a75ff;\">"
          +  " <div class=\"message-text-container\">"
          + "<div style=\"font-size: 9px; color: rgba(0, 0, 0, 0.69);\">"+ now.toDateString() + ' ' + now.toLocaleTimeString() + " </div>"
            +    "<div class=\"message-text\">"+$('#comment').val()+ "</div>"
          +  "  </div>"
        + "  </div>";
        console.log(text);
          $('#bodyMessage').append(text);
          $('#comment').val("");
        }else{
          alert("Can not send message");
        }
      })
    });
  });
</script>
